/* Fonts */
.ls-poppins{
    font-family: 'Poppins', sans-serif;
}

.ls-eb-garamond{
    font-family: 'EB Garamond', serif;
}

/* Header Section */




/* Buttons */
.ls-bg-primary-btn{
    color: #FFFFFF;
    background-color: #B68C5A;

}

.ls-bg-primary-btn:hover{
    color: #FFFFFF;
    background-color: #cf954d;
}

/* banner section */
/* .ls-banner{
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
}  */

.ls-banner-header{
    font-size: 5rem;
}


/* Carousel Btn */
.ls-carousel-btn{
    background-color: red;
}




